.header {
  background-color: #f8f8f8;
  padding: 1.5rem 5rem;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  color: #555;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #333;
}

.nav-link:active {
  color: #222;
}

